---
permalink: /conference/
---

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css"
        href="{{ "/static/css/bestpapers.css" | prepend:site.baseurl }}?t={{site.time | date: '%s'}}"
        media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script type="text/javascript" src="{{ "/static/js/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/store.min.js" | prepend:site.baseurl }}"></script>

</head>

<body>
    <div class="top-strip"></div>
    <div class="container">
        <div class="page-header" id="conf-title">
            {% for venue in site.data.papers %}
            <div id="{{venue.venue}}{{venue.year}}" class="row">
                <div class="col-xs-12 col-sm-12">
                    <h1>
                        <a id="conf-title-href" nohref>{{venue.venue}} {{venue.year}}</a>
                        <span id="twitter-box"></span>
                    </h1>
                </div>
                <div class="meta deadline col-xs-12">
                    <span id="conf-date"></span>. <span id="conf-place"></span>.<br>
                </div>
                <div class="meta deadline col-xs-12 col-md-5">
                    Deadline in timezone from conference website:
                </div>
                <div class="meta deadline col-xs-12 col-md-6">
                    <span class="deadline-time"></span>
                </div>
                <span class="local-timezone-hide">
                    <div class="meta deadline col-xs-12 col-md-5">
                        Deadline in your local <span class="local-timezone">America/New_York</span> timezone:
                    </div>
                    <div class="meta deadline col-xs-12 col-md-6">
                        <span class="deadline-local-time"></span>
                    </div>
                </span>
                <div class="meta deadline col-xs-2 col-sm-1 col-md-5">
                    Website:
                </div>
                <div class="meta deadline col-xs-10 col-sm-11 col-md-7">
                    <a id="conf-website" target="_blank" nohref></a><br>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <span id="conf-timer"></span>
                    <br>
                </div>
            </div>
            <br>
            <hr>
        </div>
        <footer>
            <a href="/">{{ site.domain }}</a> is maintained by <a
                href="//{{ site.github_username }}.github.io">{{ site.author }}</a>. It is based
            on the great <a href="http://aideadlin.es">aideadlin.es</a>.<br>
        </footer>
    </div>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            var url = new URL(window.location);
            var venue = url.searchParams.get('id');
            console.log(venue);

            {% for venue in site.data.papers %}
            if (venue != "{{ venue.venue }}") {
                // $('#conf-title-href').text("{{venue.venue}} {{venue.year}}");
                // $('#conf-title-href').attr('href', "/conference?id={{venue.venue}}");
                // $('#conf-date').text("{{venue.date}}");
                // $('#conf-place').text("{{venue.place}}");
                // $('#conf-website').text("{{conf.link}}");
                // $('#conf-website').attr('href', "{{conf.link}}");
                $('#{{venue.venue}}{{venue.year}}').hide();
            }
            {% endfor %}
        });
    </script>
</body>

</html>