---
permalink: /venue/
---

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css"
        href="{{ "/static/css/bestpapers.css" | prepend:site.baseurl }}?t={{site.time | date: '%s'}}"
        media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script type="text/javascript" src="{{ "/static/js/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/store.min.js" | prepend:site.baseurl }}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKF20SLCMN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WKF20SLCMN');
    </script>
</head>

<body>
    <div class="top-strip"></div>
    <div class="container">
        <div class="page-header" id="venue-title">
            <h1>
                <span id="venue-header-long"></span>
                <span id="venue-header-short"></span>
            </h1>
        </div>
        {% for venue in site.data.papers %}
        <div id="{{venue.venue}}{{venue.year}}" class="{% for sub in venue.sub %} {{sub}}-conf {% endfor %}">
            <div class="row venue-row">
                <div class="col-xs-12">
                    <a class="venue-title" href="#">{{venue.venue}}
                        {{venue.year}}</a>
                    &nbsp;&nbsp;<span class="venue-place">({{ venue.date }}.{% if venue.place != "" %}
                        {{ venue.place }}.{% endif %})</span>
                </div>
            </div>
            {% for award in venue.awards %}
            {% assign prev_i = forloop.index0 | minus: 1 %}
            {% if prev_i < 0 or award.award != venue.awards[prev_i].award %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="paper-title">
                        <strong>{{award.award}}:</strong>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-xs-12 award-info">
                    <div class="paper-title">
                        <a href="{{award.link}}">{{award.title}}</a>
                    </div>
                    <div class="author-names">
                        {{award.author}}
                    </div>
                    <div class="award-source">
                        <a href="{{ award.source }}">[Source]</a>
                    </div>
                    {% if award.note %}
                    <div class="note">
                        {{award.note}}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <hr>
        </div>
        {% endfor %}
        <footer>
            <a href="/">{{ site.domain }}</a> is maintained by <a
                href="//{{ site.github_username }}.github.io">{{ site.author }}</a>. It is based
            on the splendid <a href="http://aideadlin.es">aideadlin.es</a>.<br>
        </footer>
    </div>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            var url = new URL(window.location);
            var venue = url.searchParams.get('id');
            // console.log(venue);  
            $('#venue-header-long').text(venue);

            {% for venue in site.data.venues %}
            if (venue == "{{ venue.name }}") {
                $('#venue-header-long').text("{{ venue.long }}")
                $('#venue-header-short').text("({{ venue.name }})")
            }
            {% endfor %}

            {% for venue in site.data.papers %}
            if (venue != "{{ venue.venue }}") {
                $('#{{venue.venue}}{{venue.year}}').hide();
            }
            {% endfor %}
        });
    </script>
</body>

</html>